venv/
output/
*.log
*.env
.ipynb_checkpoints/
*.env
__pycache__/
data/
mongo_data/
logs/
*sync_status.json
*matched_results.json
*grouped_contributors.json
*frameworks_by_contributor.json
.terraform*
*.tfstate*
volume/